<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/container}">
<head>
    <meta charset="UTF-8">
    <title>Detail Artisan</title>
</head>
<body>
<div layout:fragment="content">

    <!--Form Details-->
    <div class="row">
        <div class="panel panel-primary">
            <form th:action="@{/artisan/updated}" th:object="${detailsArtisan}" method="post">
                <div class="panel-heading">
                    <h5 class="panel-title">Detail d'un artisan</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li>
                                <button id="btnDeleted" type="button" class="btn btn-danger legitRipple">
                                    Supprimer<i class="icon-arrow-right14 position-right"></i>
                                </button>
                                <button type="reset" class="btn btn-warning legitRipple">
                                    Annuler<i class="icon-arrow-right14 position-right"></i>
                                </button>
                                <button id="btnSubmit" disabled type="submit" class="btn btn-primary legitRipple">
                                    Modifier<i class="icon-arrow-right14 position-right"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Form Data-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Nom</label>
                                <input class="form-control" placeholder="Jhon" th:field="*{user.lastName}"
                                       type="text" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Prenom</label>
                                <input class="form-control" placeholder="Doe" th:field="*{user.firstName}"
                                       type="text" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Date de création</label>
                                <input class="form-control" placeholder="" th:field="*{user.created}" type="date"
                                       disabled>
                            </div>
                            <div class="form-group">
                                <label class="control-label">login</label>
                                <input class="form-control" placeholder="JhonJack" th:field="*{user.login}"
                                       type="text" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mot de Passe</label>
                                <input id="password" class="form-control" placeholder="Password"
                                       th:field="*{user.password}" type="password" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Confirmation du Mot de Passe</label>
                                <input id="passwordRepeated" class="form-control" placeholder="Password"
                                       th:field="*{user.password}" type="password" required>
                                <span class="help-block text-danger" id="alertPassword" hidden="hidden">
                                    <i class="icon-cancel-circle2 position-left"></i> Le mot de passe saisie est incorrecte
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Genre</label>
                                <select class="form-control" th:field="*{user.gender}" required>
                                    <option th:value="${mal}">Homme</option>
                                    <option th:value="${female}">Femme</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Genre</label>
                                <select class="form-control" th:field="*{category.id}" required>
                                    <option th:each="catego : ${categories}"
                                            th:text="${catego.libelle}"
                                            th:value="${catego.id}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input class="form-control" placeholder="JhonDoe@alloallo.com" th:field="*{user.email}"
                                       type="email" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Numéro de Téléphone</label>
                                <input class="form-control" placeholder="00-00-00-00"
                                       th:field="*{user.phoneNumber}" type="tel" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ville</label>
                                <input class="form-control" placeholder="Bouake" th:field="*{user.city}"
                                       type="text" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description de l'artisan</label>
                                <textarea class="form-control" th:field="*{user.description}"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description de la localisation</label>
                                <textarea class="form-control" th:field="*{descriptionLocalisation}"></textarea>
                            </div>
                        </div>
                        <input type="hidden" id="idArtisan" th:field="*{id}">
                        <input type="hidden" th:field="*{user.id}">
                        <input type="hidden" th:field="*{user.created}">
                        <input type="hidden" th:field="*{user.role}">
                        <input type="hidden" th:field="*{user.privilege}">
                        <input type="hidden" th:field="*{category.id}">
                    </div>
                </div>
                <!--Form Data-->
            </form>
        </div>
    </div>
    <!--Form Details-->

    <script th:src="@{~/js/pages/artisan.js}"></script>
</div>
</body>
</html>