<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="form" id="formApp" class="modal fade" style="display: none;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h6>Remplir les informations du formulaire pour ajouter un artisan</h6>
            </div>
            <form th:action="@{/artisan}" th:object="${newArtisan}" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Nom</label>
                                <input class="form-control" placeholder="Jhon" th:field="*{user.lastName}"
                                       type="text" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Prenom</label>
                                <input class="form-control" placeholder="Doe" th:field="*{user.firstName}"
                                       type="text" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Date de Naissance</label>
                                <input class="form-control" placeholder="" th:field="*{user.birthDate}" type="date">
                            </div>
                            <div class="form-group">
                                <label class="control-label">login</label>
                                <input class="form-control" placeholder="JhonJack" th:field="*{user.login}"
                                       type="text" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mot de Passe</label>
                                <input id="password" class="form-control" placeholder="Password"
                                       th:field="*{user.password}" type="password" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Confirmation du Mot de Passe</label>
                                <input id="passwordRepeated" class="form-control" placeholder="Password"
                                       th:field="*{user.password}" type="password" required>
                                <span class="help-block text-danger" id="alertPassword" hidden="hidden">
                                    <i class="icon-cancel-circle2 position-left"></i> Le mot de passe saisie est incorrecte
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Genre</label>
                                <select class="form-control" th:field="*{user.gender}" required>
                                    <option th:value="${mal}">Homme</option>
                                    <option th:value="${female}">Femme</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Catégorie</label>
                                <select class="form-control" th:field="*{category.id}" required>
                                    <option th:each="catego : ${categories}"
                                            th:text="${catego.libelle}"
                                            th:value="${catego.id}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input class="form-control" placeholder="JhonDoe@alloallo.com" th:field="*{user.email}"
                                       type="email" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Numéro de Téléphone</label>
                                <input class="form-control" placeholder="00-00-00-00"
                                       th:field="*{user.phoneNumber}" type="tel" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ville</label>
                                <input class="form-control" placeholder="Bouake" th:field="*{user.city}"
                                       type="text" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description de l'artisan</label>
                                <textarea class="form-control" th:field="*{user.description}"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description de la localisation</label>
                                <textarea class="form-control" th:field="*{descriptionLocalisation}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button id="reset" type="reset" class="btn btn-default legitRipple">
                            Reset
                            <i class="icon-reload-alt position-right"></i>
                        </button>
                        <button id="btnSubmit" disabled type="submit" class="btn btn-primary legitRipple">
                            Valider<i class="icon-arrow-right14 position-right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</html>