<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="opinions" class="panel panel-flat">
    <div class="panel-heading">
        <h3>Liste des opinions</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Nom & Prenom du client</th>
                <th class="text-center">Note</th>
                <th class="text-center">Date de création</th>
                <th class="text-center">Nom & Prenom de l'artisan</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="opinion : ${opinions}">
                <td th:text="${opinion.customer.user.getFullName()}"></td>
                <td>
                    <span th:text="${opinion.starts}"></span><i class="icon-stars"></i>
                </td>
                <td th:text="${#temporals.format(opinion.created,'dd,MMM,yyyy')}"></td>
                <td th:text="${opinion.artisan.user.getFullName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>