<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="list" class="panel panel-flat">
    <div class="panel-heading">
        <h3>Liste des clients</h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-primary" data-toggle="modal" data-target="#formApp">Ajouter</button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">Nom & Prenom</th>
                <th class="text-center">Email</th>
                <th class="text-center">Numéro de téléphone</th>
                <th class="text-center">Ville</th>
                <th class="text-center">Catégorie</th>
                <th class="text-center">Date de création</th>
                <th class="text-center">Etat du Compte</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="custo : ${customers}">
                <td th:text="${custo.user.getFullName()}" class="text-center"></td>
                <td th:text="${custo.user.email}" class="text-center"></td>
                <td th:text="${custo.user.phoneNumber}" class="text-center"></td>
                <td th:text="${custo.user.city}" class="text-center"></td>
                <td th:text="${custo.user.created}" class="text-center"></td>
                <td class="text-center">
                    <span th:if="${custo.user.isEnabled()}">Activé</span>
                    <span th:unless="${custo.user.isEnabled()}">Désactivé</span>
                </td>
                <td class="text-center"><a th:href="@{~/customer/{id}(id=${custo.id})}" title="Modifier"><i
                        class="icon-hammer"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>