<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragement="other_information">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Autre information</h5>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <div class="content-group">
                    <h5 class="text-semibold no-margin">
                        <i class="icon-users4 position-left text-slate"></i>
                        <span th:text="${children}"></span>
                    <span class="text-muted text-size-small">Administrateurs</span>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-group">
                    <h5 class="text-semibold no-margin">
                        <i class="icon-list2 position-left text-slate"></i>
                        <span th:text="${categories}"></span>
                        <span class="text-muted text-size-small">Catégories</span>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-group">
                    <h5 class="text-semibold no-margin">
                        <i class="icon-user-tie position-left text-slate"></i>
                        <span th:text="${artisans}"></span>
                        <span class="text-muted text-size-small">Artisans</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
</html>