<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/container}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <!--Card Information-->
                <div class="col-lg-4">
                    <div class="panel bg-teal-400">
                        <div class="panel-body">
                            <div class="heading-elements">
                                <span class="heading-text badge bg-teal-800">Allô Allô</span>
                            </div>
                            <h2 class="no-margin" th:text="${artisans}"></h2>
                            <h3 class="no-margin">Artisan</h3>
                            <div class="text-muted text-size-small">Nombre d'artisans disponible sur la plateforme</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel bg-teal-400">
                        <div class="panel-body">
                            <div class="heading-elements">
                                <span class="heading-text badge bg-teal-800">Allô Allô</span>
                            </div>
                            <h2 class="no-margin" th:text="${customers}"></h2>
                            <h3 class="no-margin">Client</h3>
                            <div class="text-muted text-size-small">Nombre d'utilisateurs disponible sur la plateforme</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel bg-teal-400">
                        <div class="panel-body">
                            <div class="heading-elements">
                                <span class="heading-text badge bg-teal-800">Allô Allô</span>
                            </div>
                            <h2 class="no-margin" th:text="${opinions}"></h2>
                            <h3 class="no-margin">Avis</h3>
                            <div class="text-muted text-size-small">Nombre d'avis d'utilisateurs disponible sur la
                                plateforme
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card Information-->
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3 class="text-center">Avis des utilisateurs</h3>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active fade in has-padding">
                            <ul class="media-list">
                                <li th:each="opinion: ${opinionsList}">
                                    <div class="media-left"></div>
                                    <div class="media-body">
                                        <a href="#">
                                            <span th:text="${opinion.customer.getFullName}"></span>
                                            <span th:text="${#temporals.format(opinion.created,'dd/MM/yyyy HH:mm')}"></span>
                                        </a>
                                        <div>
                                            <i class="icon-stars"><span th:text="${opinion.stars}"></span></i>
                                            <span class="display-block text-muted" th:text="${opinion.description}"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h4 class="panel-title">Satisfaction Chart</h4>
            </div>
            <div class="panel-body">
                <div class="content-group">
                    <div class="chart-container text-center">
                        <canvas id="opinionChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script th:src="@{js/pages/dashboard.js}"></script>
</div>
</body>
</html>