<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div class="page-header page-header-inverse bg-indigo">

    <div class="navbar navbar-inverse navbar-transparent">
        <ul class="nav navbar-nav visible-xs-block">
            <li><a class="text-center collapsed legitRipple" data-toggle="collapse" data-target="#navbar-toggle"><i
                    class="icon-paragraph-justify3"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-toggle">
            <ul class="nav navbar-nav navbar-nav-material">
                <li class="dropdown mega-menu mega-menu-wide">
                    <a th:href="@{/artisans}">Artisan</a>
                </li>

                <li class="dropdown mega-menu mega-menu-wide">
                    <a th:href="@{/customers}">Client</a>
                </li>

                <li class="dropdown mega-menu mega-menu-wide">
                    <a th:href="@{/categories}">Categorie</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-nav-material navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                        <i class="icon-cog3"></i>
                        <span class="visible-xs-inline-block position-right">Settings</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a><i class="icon-user"></i><span th:text="${session.user}"></span></a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/administrators}"><i class="icon-statistics"></i>Gestion des
                            administrateurs</a></li>
                        <li><a th:href="@{/logout}"><i class="icon-statistics"></i>Deconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>