<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="detail" class="panel panel-flat" th:if="${showingDetail}">
    <div class="panel-heading">
        <h4 class="panel-title">Détail de la catégorie sélectionné</h4>
    </div>
    <div class="panel-body">
        <form th:action="@{/category}" th:object="${formDetailCategory}" method="post">
            <div class="row">
                <div>
                    <div class="form-group">
                        <label class="control-label">Titre</label>
                        <input class="form-control" placeholder="Categorie" th:field="*{libelle}" type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea class="form-control" rows="5"
                                  placeholder="Lorem Ipsum Loremp Ipsum Lorem Ipsum"
                                  th:field="*{description}"></textarea>
                    </div>
                    <input id="idCategory" type="hidden" th:field="*{id}" th:value="*{id}">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 text-left">
                    <button id="reset" type="reset" class="btn btn-default legitRipple">
                        Reset
                        <i class="icon-reload-alt position-right"></i>
                    </button>
                    <button type="submit" class="btn btn-primary legitRipple">
                        Valider<i class="icon-arrow-right14 position-right"></i>
                    </button>
                </div>
                <div class="col-lg-3 text-right">
                    <button id="btnDelted" type="button" class="btn btn-danger legitRipple">
                        Supprimer
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="table-responsive" style="margin-top: 10px">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">Liste des Artisans appartenent à la catégorie</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="artisan : ${categoriesArtisan}">
                        <td class="text-center" th:text="${artisan.user.getFullName()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</html>