<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="list" class="panel panel-flat" id="listApp">
    <div class="panel-heading">
        <h3>List des catégories</h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-primary" data-toggle="modal" data-target="#formApp">Ajouter</button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">Titre</th>
                <th class="text-center">Administrateur</th>
                <th class="text-center">Date de création</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td class="text-center" th:text="${category.libelle}">Titre</td>
                <td class="text-center" th:text="${category.administrator.user.getFullName()}">Administrateur</td>
                <td class="text-center" th:text="${#temporals.format(category.updated,'dd/MMM/yyyy')}">Date de dernière mise à jour</td>
                <td class="text-center"><a th:href="@{~/categories/{id}(id=${category.id})}" title="Modifier"><i class="icon-hammer"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>