<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link th:href="@{~/css/icons/icomoon/styles.css}" rel="stylesheet" type="text/css">
<link th:href="@{~/css/bootstrap.css}" rel="stylesheet" type="text/css">
<link th:href="@{~/css/core.css}" rel="stylesheet" type="text/css">
<link th:href="@{~/css/components.css}" rel="stylesheet" type="text/css">
<link th:href="@{~/css/colors.css}" rel="stylesheet" type="text/css">
<link th:href="@{~/css/jsgrid.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{~/css/jsgrid-theme.min.css}" rel="stylesheet" type="text/css">